<app-spinner *ngIf="isLoading"></app-spinner>
<app-navbar></app-navbar>
<div class="main-body">
    <h1>Order Details</h1>
    <div class="header" *ngIf="isAdminLoggedin">
        <mat-form-field appearance="outline" class="custom-filter">
            <mat-label>Filter by Date</mat-label>
            <mat-select [(value)]="selectedFilter" (selectionChange)="onFilterChange($event.value)">
                <mat-option value="day">Today</mat-option>
                <mat-option value="week">This Week</mat-option>
                <mat-option value="month">This Month</mat-option>
                <mat-option value="custom">Custom</mat-option>
            </mat-select>
        </mat-form-field>
            
        <div [formGroup]="dateForm" *ngIf="selectedFilter === 'custom'" class="custom-date-filter">
            <!-- Start Date -->
            <mat-form-field appearance="outline" class="date-field">
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="dateForm.controls.startDate.hasError('invalidStart')">
                    Start Date cannot be after End Date.
                </mat-error>
            </mat-form-field>
        
            <!-- End Date -->
            <mat-form-field appearance="outline" class="date-field">
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="dateForm.controls.endDate.hasError('invalidEnd')">
                    End Date cannot be greater than today.
                </mat-error>
            </mat-form-field>
        
            <button mat-raised-button color="primary" (click)="fetchFilterOrders()" [disabled]="dateForm.invalid">Go</button>
        </div>
    </div>
    
    

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="tableNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TableNo.</th>
                <td mat-cell *matCellDef="let row">{{row.tableNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
                <td mat-cell *matCellDef="let row">{{row.orderStatus}}</td>
            </ng-container>
            <ng-container matColumnDef="orderAction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Status</th>
                 <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="viewOrders(row.orderId)">
                        View
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="openEditOrderDetails(row.orderId)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteOrderDetails(row.orderId)" *ngIf="isAdminLoggedin">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="totalOrdersFooter">
                <td mat-footer-cell *matFooterCellDef colspan="2">
                  <strong class="summary-label">Total Orders:</strong>
                  <span class="summary-value">{{ filteredOrders.length }}</span>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="totalPriceFooter">
                <td mat-footer-cell *matFooterCellDef colspan="2">
                  <strong class="summary-label">Total Price (incl. GST):</strong>
                  <span class="summary-value">₹{{ totalPrice }}</span>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="showFooter ? footerColumns : []"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>